/*****************************
GENERAL
******************************/
a{
	text-decoration: none;
	color: #00ccff;
}

img{
	max-width: 100%;
}

p{
	margin: 0;
	padding: 0;
}

body{
	padding-left: 5px;
}

/*****************************
COLORS
******************************/
h1,h2{
	color: #3f2f66;
	font-size: 2em;
}

b{
	color: #616161;
}

body {
	background-color: #fff;
	color: #999;
	font-family: 'Noticia Text', serif;
}


/*Div for the photos*/
#wrapper {
	max-width: 1000px;
	margin: auto;
	padding: 5%;
}

