/*****************************
GENERAL
******************************/
a{
	text-decoration: none;
	color: #00ccff;
}

p{
	margin: 0;
	padding: 0;
}

body {
	padding-left: 5px;
	background-color: #fff;
	color: #999;
	font-family: 'Noticia Text', serif;
}

button{
	margin: 5px 0;
	display: block;
}

kbd {
	margin: 5px 0;
	display: block;
}

/*****************************
COLORS
******************************/
h1,h2{
	color: #3f2f66;
	font-size: 1.5em;
}

b{
	color: #616161;
}

body ul {
	list-style: none;
}

/************
CODE FORMAT**
************/
.js-code{
	max-width: 97%;
	padding:10px;
}


